// Breakpoint variables

$bp-sm: "max-width: 767px"
$bp-md: "min-width: 768px"
$bp-lg: "min-width: 992px"
$bp-xl: "min-width: 1200px"

// @media( #{$bp-sm})
	// code here

// @media( #{$bp-md})
	// code here

// @media( #{$bp-lg})
	// code here

// @media( #{$bp-xl})
	// code here