@import "palette"

// Custom navbar settings
.navbar
	.navbar-brand
		width: 6rem
		transition: width 0.3s ease
	.navbar-toggler
		border: none
		outline: none

		.navbar-toggler-icon
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 219, 36, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")

.navbar
	text-align: center
	background-color: $base-dark
	.navbar-nav
		.nav-link
			color: rgba($primary-color-light, 1)

// change the color of active or hovered links
.navbar .nav-item.active .nav-link, .navbar .nav-item:hover .nav-link
	color: rgba($primary-color, 1)

